@model PL_MVC.Models.Photo
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@section profileJS{
    <script src="~/Scripts/profile.js"></script>
}
@section GetPhotoViewStyle{
    <link href="~/Content/GetPhotoViewStyle.css" rel="stylesheet" />
}
<div class="container main">
    <div class="row">
        <div class="col-md-8 to-center">
            <h4>@Model.Name</h4>
            <img src="@Url.Action("GetPhoto", "File", new { idPhoto = Model.IDPhoto })" />
        </div>
        <div class="col-md-4 photo-info">
            <div class="row">
                Album: @ViewBag.AlbumName
            </div>
            <div class="row specification">
                Specification: @Model.Spetification
            </div>
            <div class="row">
                @ViewBag.UserName
            </div>
            <div class="row likes">Likes:
                <span id="CountLike"> @Html.Action("GetLikesForPhoto", "Like", new { id = Model.IDPhoto })</span>


                <div class="add-like">
                    @using (Html.BeginForm("AddLikePhoto", "Like", new { idPhoto = Model.IDPhoto }))
                    {
                        <button id="like" type="submit" data-href="@Url.Action("AddLikePhoto", "Like", new { idPhoto = Model.IDPhoto } )"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                    }
                </div>
                @*<div id="delete-like">
                    @using (Html.BeginForm("DeleteLike", "Like", new { idPhoto = Model.IDPhoto }))
                    {
                        <button type="submit"><span class="glyphicon glyphicon-thumbs-down"></span></button>
                    }
                </div>*@
                <br>
            </div>
          
           <div class="row active" >
               <a href="@Url.Action("DeletePhoto","File", new { idPhoto = Model.IDPhoto })" >Delete photo</a>
             </div>
              
        </div>
    </div>
    <div class="row comments">
        Comments:
        @Html.Action("GetComment", "Comment", new { id = Model.IDPhoto })
        <div class="col-md-2"> </div>
    </div>
    <div class="row add-new-comment">
        @using (@Html.BeginForm("AddComment", "Comment", new { IDPhoto = Model.IDPhoto }, FormMethod.Post))
        {
            <div class="col-md-6 col-md-offset-3 for-comment">
                <textarea name="text" class="text-comment"></textarea><br />
                <button type="submit">Send!</button>
            </div>
        }
    </div>
</div>
