@model PL_MVC.Models.RegistrationModel
@{
    ViewBag.Title = "Fuffy Registration";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@section StyleForRegistration{

    <link href="~/Content/registration.css" rel="stylesheet" />
}
<div class="container container-fluid container-back">
    <div id="header"><h2>Регистрация</h2></div>
    <div class="content container-fluid row">
        <div class="registration-info container-fluid col-xs-12 col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
            @using (Html.BeginForm("Registration", "Registration", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="registration-level">
                    <label>Логин:</label><span class="star">*</span>
                    @Html.TextBoxFor(x => x.Login, new { @class = "registration-input text-input form-control", name = "login", id = "login", placeholder = "Логин*" })
                    @Html.ValidationMessageFor(x => x.Login)
                </div>
                <div class="registration-level">
                    <label>Пароль:</label><span class="star">*</span>
                    @Html.PasswordFor(x => x.Password, new { @class = "registration-input text-input form-control", name = "password", id = "password", placeholder = "Пароль*" })
                    @Html.ValidationMessageFor(x => x.Password)
                </div>
                    <div class="registration-level">
                        <label>Повторите пароль:</label><span class="star">*</span>
                        @Html.PasswordFor(x => x.PasswordRepeat, new { @class = "registration-input text-input form-control", name = "repeat-passwor", id = "repeat-password", placeholder = "Повторите пароль*" })
                        @Html.ValidationMessageFor(x => x.PasswordRepeat)
                    </div>
                    <div class="registration-level">
                        <label>Email:</label><span class="star">*</span>
                        @Html.TextBoxFor(x => x.Email, new { @class = "registration-input text-input form-control", name = "email", id = "email", placeholder = "Email*" })
                        @Html.ValidationMessageFor(x => x.Email)
                    </div>
                    <div class="registration-level">
                        <label>Ник:</label><span class="star">*</span>

                        @Html.TextBoxFor(x => x.Name, new { @class = "registration-input text-input form-control", name = "name", id = "name", placeholder = "Ник*" })
                        @Html.ValidationMessageFor(x => x.Name)
                    </div>
                    <div class="registration-level">
                        <label for="avatar">Аватар:</label>
                         @*@using (Html.BeginForm("Upload", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
                         {*@
                            <input class="registration-input input-sm" type="file" name="uploaded" id="uploaded" />
                         @*  }*@
                    </div>
                    <div class="hobbies">
                        <div class="registration-level">
                            <span>Что из нижеперечисленного интересует Вас:</span>
                        </div>
                        <br />
                        <div class="registration-level">
                            <input type="checkbox" name="filter" id="policy" />
                            <label for="policy">Политика</label>
                        </div>
                        <div class="registration-level">
                            <input type="checkbox" name="filter" id="sport" />
                            <label for="sport">Спорт</label>
                        </div>
                        <div class="registration-level">
                            <input type="checkbox" name="filter" id="science" />
                            <label for="science">Наука</label>
                        </div>
                        <div class="registration-level">
                            <input type="checkbox" name="filter" id="culture" />
                            <label for="culture">Культура</label>
                        </div>
                    </div>
                    <div class="registration-level container-fluid" style="margin-bottom:20px">
                        <button class="btn btn-danger" type="reset">Отмена</button>
                        <button class="btn btn-success" type="submit">Готово</button>
                    </div>
                    <span class="prompt">Данные, обязательные для заполнения отмечены "<span class="star">*</span>"</span>
            }
        </div>
    </div>
</div>