@model IEnumerable<PL_MVC.Models.Comment>



@foreach (var item in Model)
{
    <div class="comment">
        <div class="comment-author">
            <b><a href="@Url.Action("Profile", "User")">@ViewBag.UserName</a></b> 
            @Html.DisplayFor(modelItem => item.Date)
        </div>
        <div class="comment-text">
            @Html.DisplayFor(modelItem => item.Text)
        </div>
        @*@Html.Action("GetLikesForComment", "Like", new { idComment = item.CommentId })
        <div id="like">
            @using (Html.BeginForm("AddLikeForComment", "Like", new { idComment = item.CommentId }))
            {
                <button id="like" type="submit"><span class="glyphicon glyphicon-thumbs-up"></span></button>
            }
        </div>*@
        @*<div id="deletelike">
            @using (Html.BeginForm("DeleteLikeForComment", "Like", new { idComment = item.CommentId }))
            {
                <button type="submit"><span class="glyphicon glyphicon-thumbs-down"></span></button>
            }
        </div>*@

        <div class="comment-like">
            likes:
            @*@Html.DisplayFor(modelItem => item.Like)*@
        </div>

        <div class="comment-edit">
            @Html.ActionLink("Edit", "Edit", new { id = item.CommentId })
        </div>
    </div>

}
