<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>@ViewBag.Title • Fuffy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Content/reset.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    @RenderSection("styles", false)
    @RenderSection("styleForProfile", false)

</head>
<body>
    <div class="navbar navbar-inverse"> <!--Убрала navbar-fixed-top, т.к. при резких рывках он глючил -_- -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">FUFFY</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">People</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Settings", "Settings", "Settings")</li>
                    <li>@Html.ActionLink("Add album", "NewAlbum", "Album")</li>
                    <li>@Html.ActionLink("Upload", "Upload", "File")</li>
                    <li>@Html.ActionLink("LogOff", "LogOff", "Account")</li>
                    <li>
                        <a href="~/User/Profile" style="padding:0"> @*стиль здесь, т.к. из класса не работает*@
                            <img class="image-head" src="~/Content/Photo/camera.png" />
                        </a>
                    </li>
                    <li>
                        <form class="navbar-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            @Html.ActionLink("Ok", "Search", "Search")
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
        @RenderBody()

    <footer>Fuffy &copy; 2016</footer>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("masonry", false)
</body>
</html>