@model IEnumerable<PL_MVC.Models.User>

@{
    ViewBag.Title = "People";
    Layout = "~/Views/Shared/_NewLayout.cshtml";

}
<div class="container content user-page">
<table class="table">
    <tr>
        <th>
            <b>@Html.DisplayNameFor(model => model.Name)</b>
        </th>
        <th>
            <b>Likes</b>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("GetOtherUserPage","People", new { idOtherUser = item.idUser })">@Html.DisplayFor(modelItem => item.Name)</a>
        </td>
        <td>
           @* @Html.DisplayFor(modelItem=>item.GetCountOfLikesForUser(item.idUser))*@
            @item.GetCountOfLikesForUser()
        </td>
    </tr>
}

</table>
    </div>