@model PL_MVC.Models.User
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<div class="container">
    <div class="row forcolons">
        <div class="col-xs-6 user">
            <div class="row"><h2>@Model.Name</h2></div>
            <div class="row">Status: @Model.Status</div>
            <div class="row">
                <img src="~/Content/Photo/forProfile.jpg" class="avatar" />
            </div>
            <div class="row">About me:</div>
            <div class="row">Text about user</div>
        </div>
        <div class="col-xs-6 scroll">
            <div class="user">
                @Html.Partial("_PartialAlbums")
            </div>
        </div>
    </div>
    <div class="row main">
        <div class="col-sm-12 forcentercolons">
            @foreach (var item in Model.GetAllPhotoForUser())
            {
                <div data-toggle="modal" data-target="#myModal" class="item">
                    <div class="item">

                        <a class="photoItem" href="@Url.Action("GetPhotoView", "File", new { item.IDPhoto })">

                            <img src="@Url.Action("GetPhoto", "File", new { item.IDPhoto })" />
                        </a>
                    </div>
                </div>

            }
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
 
        $(function () {
            $.ajaxSetup({ cache: false });
           $(".compItem").click(function (e) {
 
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}